body {
    width: 100%;
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
  }

  .fullscreen-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: left;
  }

  h1 {
    font-size: 4vw;
    line-height: 1.9;
    font-weight: bold;
    max-width: 100%;
  }

  .video-frag {
    position: relative;
    margin: 0 6px;
    display: inline-block;
    height: 5vw;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px;
    margin: 0 1.6vw;
  }

  .frag-1 {
    width: 50vw;
  }


  .frag-2 {
    width: 25vw;
  }

  .frag-3 {
    width: 30vw;
  }

  .frag-4 {
    width: 50vw;
  }

  .video-frag video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
    object-position: left center; 
  }

  .frag-1 video {
    object-position: 10% 50%; /* левее */
  }
  .frag-2 video {
    object-position: 30% 50%; /* чуть правее */
  }
  .frag-3 video {
    object-position: 60% 50%; /* почти центр */
  }
  .frag-4 video {
    object-position: 80% 50%; /* еще правее */
  }